/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 100%;
    min-height: 768px;
}

#container .tj-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

#container .tj-section .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .tj-section .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left-sm {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right-lg { 
    float: left;
    width: 830px;
    height: 100%;
}

.column-left-sm .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.column-right-lg .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right-lg .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right-lg .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right-lg .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right-lg .menubar > ul > li > a:hover, 
.column-right-lg .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .tj-section-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .tj-section-top-text h1 {
    color: #FFF;
}

#container .row .tj-section-top-text p {
    color: #FFF;
    margin: 0 0 55px 0;
}

.separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid #00e0d0; 
}

.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}

.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}


/* begin of 2nd page */
#container .tj2-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: #C0C0C0;
    background-size: cover;
    margin: 0 auto;
}

#container .tj2-section .column2 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}


#container .tj2-section .column2 .column2-left-2{
    float: left;
    width: 330px;
    height: 100%;
    
}

#container .tj2-section .column2 .column2-right-2 { 
    float: left;
    width: 500px;
    height: 100%;
       padding: 70px 0px 0px 0;

}

.column2-left-2 .image2 {
    width: 128px;
    height: 50px;
    padding: 70px 0px 0px 0;
    display: block;
}


#container .tj2-section-top-text {
    float: left;
    width: 100%;
    padding: 70px 0px 0px 0px;
    text-align: center;
}

#container .tj2-section-top-text h1 {
    color: #C0C0C0;
}
#container  .tj2-section-top-text p {
    color: #C0C0C0;
    margin: 0 0 100px 0;
       padding: 70px 0px 0px 0px;
}


#container .tj3-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: #C0C0C0;
    background-size: cover;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/background2.png');
    margin: 0 auto;
}

#container .tj3-section .column3 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}


#container .tj3-section .column3 .row-3{

    width:100%;
    height: 180px;
   
    text-align: center;

}




#container .tj4-section {
    width: 100%;
    display: block;
    height: 760px;
    border: 1px solid #000;
    background: #FFF;
    background-size: cover;
    margin: 0 auto;
}



#container .tj4-section .column4 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}




#container .tj4-section .column4 .row-4{

    width:100%;
    height: 250px;
    float:left;
    text-align: center;

}


#container .tj4-section .column4 .row-4 .column4-4 {
    float: left;
    width:320px;
    height: 100%;

}



#container .tj4-section .column4 .row-4 .column4-4.image4 {
    
    width: 120px;
    height: 120px;


       padding: 0px 0px 0px 0px;
}

#container .tj4-section-top-text {
    
     width: 100%;
    padding: 0px 0px 0px 0px;
    text-align: center;
}


#container .tj4-section-top-text h1 {
 
    color: #C0C0C0;
}
#container  .tj4-section-top-text p {
    
    
    color: #C0C0C0;


}








#container .tj5-section {
    width: 100%;
    display: block;
    height: 760px;
    border: 1px solid #000;
    background: #FFF;
    background-size: cover;
      background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/background5.png');
    margin: 0 auto;
}



#container .tj5-section .column5 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}




#container .tj5-section .column5 .row-5{

    width:100%;
    height: 250px;
   
    text-align: center;

 

}


#container .tj5-section .column5 .row-5 .column5-1 {
    float: left;
    width:240px;
    height: 100%;


}



#container .tj5-section .column5 .row-5 .column5-1.image5 {
    
    width: 80px;
    height: 120px;


       padding: 0px 0px 0px 0px;
}

#container .tj5-section-top-text {
    
     width: 100%;
    padding: 0px 0px 0px 0px;
    text-align: center;
}


#container .tj5-section-top-text h1 {
 
    color: #C0C0C0;
}
#container  .tj5-section-top-text p {
    
    
    color: #C0C0C0;


}

#container .tj5-section .column5 .row-5 .column5-1 .BTNIN5 {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}





#container .tj6-section {
    width: 100%;
    display: block;
    height: 150px;
    border: 1px solid #000;
    background: #FFF;
    background-size: cover;
      
    margin: 0 auto;
}



#container .tj6-section .column6 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}




#container .tj6-section .column6 .row-6{

    width:100%;
    height: 150px;
   


}


#container .tj6-section .column6 .row-6 .column6-1 {
    float: left;
    width:480px;
    height: 100%;
    text-align: center;

}





#container .tj7-section {
    width: 100%;
    display: block;
    height: 400px;
    border: 1px solid #000;
    background-size: cover;
   
    margin: 0 auto;
}




#container .tj7-section .column7 {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}


#container .tj7-section .column7 .row-7{

    width:100%;
    height: 200px;
   


}


#container .tj7-section .column7 .row-7 .column7-1 {
       float: left;
    width: 265px;
    display: block;
    height: 200px;
    border: 0px solid #000;
    background-size: cover;
   background-color: #D0D0D0;
  
}

#container .tj7-section .column7 .row-7 .column7-2{
       float: left;
    width: 265px;
    display: block;
    height: 200px;
    border: 0px solid #000;
    background-size: cover;
   background-color: #A9A9A9;

}
#container .tj7-section .column7  .row-7 .column7-3{
          float: left;
    width: 265px;
    display: block;
    height: 200px;
    border: 0px solid #000;
    background-size: cover;
   background-color: #B0B0B0;

}
#container .tj7-section .column7  .row-7 .column7-4{
       float: left;
    width: 265px;
    display: block;
    height: 200px;
    border: 0px solid #000;
    background-size: cover;
   background-color: #A9A9A9;

}

#container .tj7-section .column7  .row-7 .column7-5{
       float: left;
    width: 265px;
    display: block;
    height: 200px;
    border: 0px solid #000;
    background-size: cover;
   background-color: #A9A9A9;
}

#container .tj7-section .column7  .row-7 .column7-6{
       float: left;
    width: 265px;
    display: block;
    height: 200px;
    border: 0px solid #000;
    background-size: cover;
   background-color: #A9A9A9;


}




#container .tj8-section {
    width: 100%;
    display: block;
    height: 180px;
    border: 1px solid #000;
    background: #FFF;
    background-size: cover;
      
    margin: 0 auto;
}



#container .tj8-section .column8 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}


#container .tj8-section .column8 .row-8{

    width:100%;
    height: 180px;
    margin:60px 0px 0px 0px;
    text-align: center;

}


#container .tj9-section {
    width: 100%;
    display: block;
    height: 500px;
    border: 1px solid #000;
    background: #FFF;
    background-size: cover;
      background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/background5.png');
    margin: 0 auto;
}

#container .tj9-section .column9 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}


#container .tj9-section .column9 .row-9{

    width:100%;
    height: 120px;
   
    text-align: center;

}


#container .tj9-section .column9 .row-9 .column9-1 {
    float: left;
    width:240px;
    height: 100%;

}

#container .tj9-section .column9 .row-9 .column9-1.image9 {
    
    width: 80px;
    height: 120px;


       padding: 0px 0px 0px 0px;
}

#container .tj9-section-top-text {
    
     width: 100%;
    padding: 0px 0px 0px 0px;
    text-align: center;
}


#container .tj9-section-top-text h1 {
 
    color: #C0C0C0;
}
#container  .tj9-section-top-text p {
    
    
    color: #C0C0C0;


}





#container .tj10-section {
    width: 100%;
    display: block;
    height: 650PX;
    border: 1px solid #000;
    background: #FFF;
    background-size: cover;
    
    margin: 0 auto;
}

#container .tj10-section .column10 {
    width: 960px;
    height: 650%;
    margin: 0 auto;
}


#container .tj10-section .column10 .column10-left {
     float: left;
    width: 480px;
    height: 100%;
    margin: 0 auto;
}



#container .tj10-section .column10 .column10-right {
     float: left;
    width: 480px;
    height: 100%;
     margin: 0px 0px 0px 0px;  padding: 0px 0px 0px 0px;
}



#container .tj10-section .column10 .row-10 {

    width:100%;
    height: 180px;
    margin: 0px 0px 0px 50px; 
   

}

input[type=text]
{
    color: #979797;
    height: 28px;
    padding-left: 10px;
    width:380px;
    height:60px;
    background-repeat: repeat-x;
    border:1px solid #777;
    border-radius:5px;
    margin:10px 10px 10px 10px;

}


.button-btn10 {
    width: 320px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
      margin:10px 10px 10px 10px;
  
}


#container .tj10-section .column10 .column10-left .row-10.image10 {
    
    width: 360px;
    height: 280px;

     margin: 0px 20px 0px 20px;
       padding: 0px 0px 0px 0px;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}