/* Basic Style */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;

}
.container {
  display: block;
  width: 450px;
  margin: 30px auto ;
 border: 1px solid #ddd;
 border-radius: 5px;
}
ul#incomplete-tasks {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
ul#tasks {
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 0px;
  width:430px;
}
li * {
 
}
li, h3 {
  clear:both;
  list-style:none;
}

.col1{
  float: left;
   width:350px;

}
.row1{
font-weight: bold;
font-size:20px;
padding-left:5px;
}
.row2{
padding-left:5px;
  
}
.row3{
font-weight: bold;
 padding-left:5px; 
}
.col2{

   float: left; 
    width:5px;
}
.col3{

   float: left; 
    width:50px;
}

p {

padding: 0px 0px 100px 10px;

}

button#newadd {
  background: #BCC6CC;
  border: 0px;
  color: #1a1a1a;
  font-size: 16px;
  width: 105px;
  height: 30px;
  margin: 7px 5px 0px 0px;
  font-family: Lato, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}
button:hover {
  color: #333;
}
/* Heading */
h3
 {
  color: #333;
  font-weight: 500;
  font-size: 20px;
 /* border-bottom: 1px solid #333;*/
 text-align:center; 
  padding: 20px 0 10px;
  margin: 0;
 
}
input[type="text"] {
  width:50px;
  margin: 0px 0PX 0PX 0PX;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 3px;
  font-family: Lato, sans-serif;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 10px 0px 10px 20px;
}
input#new-task {
  float: left;
  width: 270px;
    margin: 0px 10px 0px 10px;
}


p > button:hover {
  color: #0FC57C;
}

textarea[id="new-task2"] {
  width:400px;
  resize: none;
   border: 2px solid #ddd;
   border-radius: 3px;
  padding: 20px 0px 10px 0px;
  float: left;
  height: 40px;
  margin: 10px 0px 0px 10px;
}
/* Task list */
li {
  overflow: hidden;
  
 
  border: 2px solid #ddd;
  border-radius: 5px;
  margin:0px 20px 10px 0px;
  border-bottom: 1px solid #eee;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 300px;
  padding: 0 0 0 10px;
}


li >  input[type="text"] {
  width: 226px;
}



